* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    color: white;
    background-color: white;
    display: grid;
    place-items: center;
}

.calculator {
    background-color: #383838;
    width: 450px;
    height: 450px;
    padding: .1rem;
    border-radius:.2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0rem;
}

.display {
    grid-column: 1 / -1;
    height: 100px;
    padding: 1.5rem;
    font-size: 2.5rem;
    text-align: right;
    font-weight: 600;
}

.btn {
    font-size: 1.5rem;
    color: white;
    background-color: #949494;
    border: 0;
    cursor: pointer;
}

.btn:hover, #c:hover, #delete:hover, #percent:hover {
    background-color: gainsboro;
}

#oper:hover, #equal:hover {
    background-color: #D9952F;
}

#zero {
    grid-column: span 2;
}

#c, #delete, #percent {
    background-color: #64646c;
}

#oper, #equal {
    background-color: #f2a635;
}